/*General*/
body{
    background-color: #eee;
}

/*HEADER*/
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    /*lo que se sale del circulo se oculte-overflow*/
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
    
}
.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

/*Registro form*/
.box-form,
.box-default{
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;         
}
.box-form input{
    margin-bottom: 10px;
}

/*Usuarios*/
/*overflow: hidden significa que todo lo que salga del circulo se oculte*/
.user-item .avatar{
    background: #eee;
    border-radius: 550px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}
.user-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content{
    padding: 10px;
    margin-left: 85px;
}